In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Gathering data

In [176]:
data= pd.read_csv('countries of the world.csv')
#creating a copy
data_copy=data

# Data wrangling

## Assessing data

In [177]:
data.sample(5)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
107,Kenya,SUB-SAHARAN AFRICA,34707817,582650,"59,6","0,09","-0,1","61,47",1000.0,"85,1","8,1","8,08","0,98","90,94","1,5","39,72","14,02","0,163","0,188","0,651"
113,Laos,ASIA (EX. NEAR EAST),6368481,236800,"26,9","0,00",0,"85,22",1700.0,"66,4","14,1","3,8","0,35","95,85",2,"35,49","11,55","0,455","0,287","0,258"
65,Ethiopia,SUB-SAHARAN AFRICA,74777981,1127127,"66,3","0,00",0,"95,32",700.0,"42,7","8,2","10,71","0,75","88,54",2,"37,98","14,86","0,475","0,099","0,426"
29,Brunei,ASIA (EX. NEAR EAST),379444,5770,"65,8","2,79","3,59","12,61",18600.0,"93,9","237,2","0,57","0,76","98,67",2,"18,79","3,45","0,036","0,561","0,403"
118,Libya,NORTHERN AFRICA,5900754,1759540,"3,4","0,10",0,"24,6",6400.0,"82,6","127,1","1,03","0,19","98,78",NaN,"26,49","3,48","0,076","0,499","0,425"

In [178]:
data_copy=data_copy.rename(columns={'Area (sq. mi.)':'Area', 'Pop. Density (per sq. mi.)': 'Pop_density', 'Coastline (coast/area ratio)': 'Coastline', 'Net migration': 'Migration', 'Infant mortality (per 1000 births)':'Inf_mort','Literacy (%)':'Literacy','Phones (per 1000)':'Phones','Arable (%)':'Arable','Crops (%)':'Crops', 'Other (%)':'Others'})

In [179]:
data.shape

(227, 20)

In [180]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
Country                               227 non-null object
Region                                227 non-null object
Population                            227 non-null int64
Area (sq. mi.)                        227 non-null int64
Pop. Density (per sq. mi.)            227 non-null object
Coastline (coast/area ratio)          227 non-null object
Net migration                         224 non-null object
Infant mortality (per 1000 births)    224 non-null object
GDP ($ per capita)                    226 non-null float64
Literacy (%)                          209 non-null object
Phones (per 1000)                     223 non-null object
Arable (%)                            225 non-null object
Crops (%)                             225 non-null object
Other (%)                             225 non-null object
Climate                               205 non-null object
Birthrate                             224 non-null object
Deathrate                             223 non-null object
Agriculture                           212 non-null object
Industry                              211 non-null object
Service                               212 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.5+ KB

In [181]:
data.describe()

         Population  Area (sq. mi.)  GDP ($ per capita)
count  2.270000e+02    2.270000e+02          226.000000
mean   2.874028e+07    5.982270e+05         9689.823009
std    1.178913e+08    1.790282e+06        10049.138513
min    7.026000e+03    2.000000e+00          500.000000
25%    4.376240e+05    4.647500e+03         1900.000000
50%    4.786994e+06    8.660000e+04         5550.000000
75%    1.749777e+07    4.418110e+05        15700.000000
max    1.313974e+09    1.707520e+07        55100.000000

In [182]:
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,"95,0","460,0",0,0,100,2,"14,17","5,34","0,04","0,18","0,78"
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"156,0","34,54","-6,15","19,46",11000.0,"89,0","549,9","18,18","4,55","77,27",2,"16,93","5,37","0,038","0,22","0,743"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200.0,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
9,Armenia,C.W. OF IND. STATES,2976372,29800,"99,9","0,00","-6,47","23,28",3500.0,"98,6","195,7","17,55","2,3","80,15",4,"12,07","8,23","0,239","0,343","0,418"
10,Aruba,LATIN AMER. & CARIB,71891,193,"372,5","35,49",0,"5,89",28000.0,"97,0","516,1","10,53",0,"89,47",2,"11,03","6,68","0,004","0,333","0,663"
11,Australia,OCEANIA,20264082,7686850,"2,6","0,34","3,98","4,69",29000.0,"100,0","565,5","6,55","0,04","93,41",1,"12,14","7,51","0,038","0,262","0,7"
12,Austria,WESTERN EUROPE,8192880,83870,"97,7","0,00",2,"4,66",30000.0,"98,0","452,2","16,91","0,86","82,23",3,"8,74","9,76","0,018","0,304","0,678"
13,Azerbaijan,C.W. OF IND. STATES,7961619,86600,"91,9","0,00","-4,9","81,74",3400.0,"97,0","137,1","19,63","2,71","77,66",1,"20,74","9,75","0,141","0,457","0,402"
14,"Bahamas, The",LATIN AMER. & CARIB,303770,13940,"21,8","25,41","-2,2","25,21",16700.0,"95,6","460,6","0,8","0,4","98,8",2,"17,57","9,05","0,03","0,07","0,9"
15,Bahrain,NEAR EAST,698585,665,"1050,5","24,21","1,05","17,27",16900.0,"89,1","281,3","2,82","5,63","91,55",1,"17,8","4,14","0,005","0,387","0,608"
16,Bangladesh,ASIA (EX. NEAR EAST),147365352,144000,"1023,4","0,40","-0,71","62,6",1900.0,"43,1","7,3","62,11","3,07","34,82",2,"29,8","8,27","0,199","0,198","0,603"
17,Barbados,LATIN AMER. & CARIB,279912,431,"649,5","22,51","-0,31","12,5",15700.0,"97,4","481,9","37,21","2,33","60,46",2,"12,71","8,67","0,06","0,16","0,78"
18,Belarus,C.W. OF IND. STATES,10293011,207600,"49,6","0,00","2,54","13,37",6100.0,"99,6","319,1","29,55","0,6","69,85",4,"11,16","14,02","0,093","0,316","0,591"
19,Belgium,WESTERN EUROPE,10379067,30528,"340,0","0,22","1,23","4,68",29100.0,"98,0","462,6","23,28","0,4","76,32",3,"10,38","10,27","0,01","0,24","0,749"
20,Belize,LATIN AMER. & CARIB,287730,22966,"12,5","1,68",0,"25,69",4900.0,"94,1","115,7","2,85","1,71","95,44",2,"28,84","5,72","0,142","0,152","0,612"
21,Benin,SUB-SAHARAN AFRICA,7862944,112620,"69,8","0,11",0,85,1100.0,"40,9","9,7","18,08","2,4","79,52",2,"38,85","12,22","0,316","0,138","0,546"
22,Bermuda,NORTHERN AMERICA,65773,53,"1241,0","194,34","2,49","8,53",36000.0,"98,0","851,4",20,0,80,2,"11,4","7,74","0,01","0,1","0,89"
23,Bhutan,ASIA (EX. NEAR EAST),2279723,47000,"48,5","0,00",0,"100,44",1300.0,"42,2","14,3","3,09","0,43","96,48",2,"33,65","12,7","0,258","0,379","0,363"
24,Bolivia,LATIN AMER. & CARIB,8989046,1098580,"8,2","0,00","-1,32","53,11",2400.0,"87,2","71,9","2,67","0,19","97,14","1,5","23,3","7,53","0,128","0,352","0,52"
25,Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,"88,0","0,04","0,31","21,05",6100.0,NaN,"215,4","13,6","2,96","83,44",4,"8,77","8,27","0,142","0,308","0,55"
26,Botswana,SUB-SAHARAN AFRICA,1639833,600370,"2,7","0,00",0,"54,58",9000.0,"79,8","80,5","0,65","0,01","99,34",1,"23,08","29,5","0,024","0,469","0,507"
27,Brazil,LATIN AMER. & CARIB,188078227,8511965,"22,1","0,09","-0,03","29,61",7600.0,"86,4","225,3","6,96","0,9","92,15",2,"16,56","6,17","0,084","0,4","0,516"
28,British Virgin Is.,LATIN AMER. & CARIB,23098,153,"151,0","52,29","10,01","18,05",16000.0,"97,8","506,5",20,"6,67","73,33",2,"14,89","4,42","0,018","0,062","0,92"
29,Brunei,ASIA (EX. NEAR EAST),379444,5770,"65,8","2,79","3,59","12,61",18600.0,"93,9","237,2","0,57","0,76","98,67",2,"18,79","3,45","0,036","0,561","0,403"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Syria,NEAR EAST,18881361,185180,"102,0","0,10",0,"29,53",3300.0,"76,9","153,8","25,22","4,43","70,35",1,"27,76","4,81","0,249","0,23","0,519"
198,Taiwan,ASIA (EX. NEAR EAST),23036087,35980,"640,3","4,35",0,"6,4",23400.0,"96,1","591,0",24,1,75,2,"12,56","6,48","0,018","0,259","0,723"
199,Tajikistan,C.W. OF IND. STATES,7320815,143100,"51,2","0,00","-2,86","110,76",1000.0,"99,4","33,5","6,61","0,92","92,47",2,"32,65","8,25","0,234","0,286","0,48"
200,Tanzania,SUB-SAHARAN AFRICA,37445392,945087,"39,6","0,15","-2,06","98,54",600.0,"78,2","4,0","4,52","1,08","94,4",NaN,"37,71","16,39","0,432","0,172","0,396"
201,Thailand,ASIA (EX. NEAR EAST),64631595,514000,"125,7","0,63",0,"20,48",7400.0,"92,6","108,9","29,36","6,46","64,18",2,"13,87","7,04","0,099","0,441","0,46"
202,Togo,SUB-SAHARAN AFRICA,5548702,56785,"97,7","0,10",0,"66,61",1500.0,"60,9","10,6","46,15","2,21","51,64",2,"37,01","9,83","0,395","0,204","0,401"
203,Tonga,OCEANIA,114689,748,"153,3","56,02",0,"12,62",2200.0,"98,5","97,7","23,61","43,06","33,33",2,"25,37","5,28","0,23","0,27","0,5"
204,Trinidad & Tobago,LATIN AMER. & CARIB,1065842,5128,"207,9","7,06","-10,83","24,31",9500.0,"98,6","303,5","14,62","9,16","76,22",2,"12,9","10,57","0,007","0,57","0,423"
205,Tunisia,NORTHERN AFRICA,10175014,163610,"62,2","0,70","-0,57","24,77",6900.0,"74,2","123,6","17,86","13,74","68,4",3,"15,52","5,13","0,132","0,318","0,55"
206,Turkey,NEAR EAST,70413958,780580,"90,2","0,92",0,"41,04",6700.0,"86,5","269,5","30,93","3,31","65,76",3,"16,62","5,97","0,117","0,298","0,585"
207,Turkmenistan,C.W. OF IND. STATES,5042920,488100,"10,3","0,00","-0,86","73,08",5800.0,"98,0","74,6","3,72","0,14","96,14",1,"27,61","8,6","0,209","0,38","0,411"
208,Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,"49,2","90,47","11,68","15,67",9600.0,"98,0","269,5","2,33",0,"97,67",2,"21,84","4,21",NaN,NaN,NaN
209,Tuvalu,OCEANIA,11810,26,"454,2","92,31",0,"20,03",1100.0,NaN,"59,3",0,0,100,2,"22,18","7,11","0,166","0,272","0,562"
210,Uganda,SUB-SAHARAN AFRICA,28195754,236040,"119,5","0,00",0,"67,83",1400.0,"69,9","3,6","25,88","10,65","63,47",2,"47,35","12,24","0,311","0,222","0,469"
211,Ukraine,C.W. OF IND. STATES,46710816,603700,"77,4","0,46","-0,39","20,34",5400.0,"99,7","259,9","56,21","1,61","42,18",3,"8,82","14,39","0,187","0,452","0,361"
212,United Arab Emirates,NEAR EAST,2602713,82880,"31,4","1,59","1,03","14,51",23200.0,"77,9","475,3","0,6","2,25","97,15",1,"18,96","4,4","0,04","0,585","0,375"
213,United Kingdom,WESTERN EUROPE,60609153,244820,"247,6","5,08","2,19","5,16",27700.0,"99,0","543,5","23,46","0,21","76,33",3,"10,71","10,13","0,005","0,237","0,758"
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
215,Uruguay,LATIN AMER. & CARIB,3431932,176220,"19,5","0,37","-0,32","11,95",12800.0,"98,0","291,4","7,43","0,23","92,34",3,"13,91","9,05","0,093","0,311","0,596"
216,Uzbekistan,C.W. OF IND. STATES,27307134,447400,"61,0","0,00","-1,72","71,1",1700.0,"99,3","62,9","10,83","0,83","88,34",1,"26,36","7,84","0,342","0,229","0,43"
217,Vanuatu,OCEANIA,208869,12200,"17,1","20,72",0,"55,16",2900.0,"53,0","32,6","2,46","7,38","90,16",2,"22,72","7,82","0,26","0,12","0,62"
218,Venezuela,LATIN AMER. & CARIB,25730435,912050,"28,2","0,31","-0,04","22,2",4800.0,"93,4","140,1","2,95","0,92","96,13",2,"18,71","4,92","0,04","0,419","0,541"
219,Vietnam,ASIA (EX. NEAR EAST),84402966,329560,"256,1","1,05","-0,45","25,95",2500.0,"90,3","187,7","19,97","5,95","74,08",2,"16,86","6,22","0,209","0,41","0,381"
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,"56,9","9,84","-8,94","8,03",17200.0,NaN,"652,8","11,76","2,94","85,3",2,"13,96","6,43","0,01","0,19","0,8"
221,Wallis and Futuna,OCEANIA,16025,274,"58,5","47,08",NaN,NaN,3700.0,"50,0","118,6",5,25,70,2,NaN,NaN,NaN,NaN,NaN
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [183]:
data.duplicated().sum()

0

In [184]:
data.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

### Issues

#### Quality-

- Inaccurate way to store decimal numbers (use of commas instead of decimal points) (Validity)
- Inaccurate datatypes for number values (Validity)

#### Define: Inaccurate way to store decimal numbers (use of commas instead of decimal points) (Validity)
Solution: Replace all commas with dots in the required columns

#### Test

In [185]:
def proper_decimal(a):
    new=[]
    for i in a:
        new.append(str(i).replace(',','.'))
    return new
data_copy['Pop_density']=proper_decimal(data_copy['Pop_density'])
data_copy['Coastline']=proper_decimal(data_copy['Coastline'])
data_copy['Migration']=proper_decimal(data_copy['Migration'])
data_copy['Inf_mort']=proper_decimal(data_copy['Inf_mort'])
data_copy['Literacy']=proper_decimal(data_copy['Literacy'])
data_copy['Phones']=proper_decimal(data_copy['Phones'])
data_copy['Arable']=proper_decimal(data_copy['Arable'])
data_copy['Crops']=proper_decimal(data_copy['Crops'])
data_copy['Others']=proper_decimal(data_copy['Others'])
data_copy['Climate']=proper_decimal(data_copy['Climate'])
data_copy['Birthrate']=proper_decimal(data_copy['Birthrate'])
data_copy['Deathrate']=proper_decimal(data_copy['Deathrate'])
data_copy['Agriculture']=proper_decimal(data_copy['Agriculture'])
data_copy['Industry']=proper_decimal(data_copy['Industry'])
data_copy['Service']=proper_decimal(data_copy['Service'])

In [187]:
data_copy=data_copy.astype({'Pop_density':float,'Coastline':float,'Migration':float,'Inf_mort':float,'Literacy':float,'Phones':float,'Arable':float,'Crops':float,'Others':float,'Climate':float,'Birthrate':float,'Deathrate':float,'Agriculture':float,'Industry':float,'Service':float})
#first converted climate to float type to get numerical NaN values instead of string NaN values; then converting it into a category
data_copy=data_copy.astype({'Climate':'category', 'Country':'category', 'Region':'category'})

#### Test

In [188]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
Country               227 non-null category
Region                227 non-null category
Population            227 non-null int64
Area                  227 non-null int64
Pop_density           227 non-null float64
Coastline             227 non-null float64
Migration             224 non-null float64
Inf_mort              224 non-null float64
GDP ($ per capita)    226 non-null float64
Literacy              209 non-null float64
Phones                223 non-null float64
Arable                225 non-null float64
Crops                 225 non-null float64
Others                225 non-null float64
Climate               205 non-null category
Birthrate             224 non-null float64
Deathrate             223 non-null float64
Agriculture           212 non-null float64
Industry              211 non-null float64
Service               212 non-null float64
dtypes: category(3), float64(15), int64(2)
memory usage: 43.5 KB

# Re-assessing

In [189]:
data_copy.describe()

,Population,Area,Pop_density,Coastline,Migration,Inf_mort,GDP ($ per capita),Literacy,Phones,Arable,Crops,Others,Birthrate,Deathrate,Agriculture,Industry,Service
count,2.270000e+02,2.270000e+02,227.000000,227.000000,224.000000,224.000000,226.000000,209.000000,223.000000,225.000000,225.000000,225.000000,224.000000,223.000000,212.000000,211.000000,212.000000
mean,2.874028e+07,5.982270e+05,379.047137,21.165330,0.038125,35.506964,9689.823009,82.838278,236.061435,13.797111,4.564222,81.638311,22.114732,9.241345,0.150844,0.282711,0.565283
std,1.178913e+08,1.790282e+06,1660.185825,72.286863,4.889269,35.389899,10049.138513,19.722173,227.991829,13.040402,8.361470,16.140835,11.176716,4.990026,0.146798,0.138272,0.165841
min,7.026000e+03,2.000000e+00,0.000000,0.000000,-20.990000,2.290000,500.000000,17.600000,0.200000,0.000000,0.000000,33.330000,7.290000,2.290000,0.000000,0.020000,0.062000
25%,4.376240e+05,4.647500e+03,29.150000,0.100000,-0.927500,8.150000,1900.000000,70.600000,37.800000,3.220000,0.190000,71.650000,12.672500,5.910000,0.037750,0.193000,0.429250
50%,4.786994e+06,8.660000e+04,78.800000,0.730000,0.000000,21.000000,5550.000000,92.500000,176.200000,10.420000,1.030000,85.700000,18.790000,7.840000,0.099000,0.272000,0.571000
75%,1.749777e+07,4.418110e+05,190.150000,10.345000,0.997500,55.705000,15700.000000,98.000000,389.650000,20.000000,4.440000,95.440000,29.820000,10.605000,0.221000,0.341000,0.678500
max,1.313974e+09,1.707520e+07,16271.500000,870.660000,23.060000,191.190000,55100.000000,100.000000,1035.600000,62.110000,50.680000,100.000000,50.730000,29.740000,0.769000,0.906000,0.954000

In [190]:
data_copy.sample(5)

,Country,Region,Population,Area,Pop_density,Coastline,Migration,Inf_mort,GDP ($ per capita),Literacy,Phones,Arable,Crops,Others,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
72,Gabon,SUB-SAHARAN AFRICA,1424906,267667,5.3,0.33,0.00,53.64,5500.0,63.2,27.4,1.26,0.66,98.08,2.0,36.16,12.25,0.061,0.592,0.348
90,Honduras,LATIN AMER. & CARIB,7326496,112090,65.4,0.73,-1.99,29.32,2600.0,76.2,67.5,9.55,3.22,87.23,2.0,28.24,5.28,0.139,0.312,0.549
91,Hong Kong,ASIA (EX. NEAR EAST),6940432,1092,6355.7,67.12,5.24,2.97,28800.0,93.5,546.7,5.05,1.01,93.94,2.0,7.29,6.29,0.001,0.092,0.906
13,Azerbaijan,C.W. OF IND. STATES,7961619,86600,91.9,0.00,-4.90,81.74,3400.0,97.0,137.1,19.63,2.71,77.66,1.0,20.74,9.75,0.141,0.457,0.402
159,Papua New Guinea,OCEANIA,5670544,462840,12.3,1.11,0.00,51.45,2200.0,64.6,10.9,0.46,1.44,98.10,2.0,29.36,7.25,0.353,0.381,0.266

### Issues

#### Quality-

- Population density has low accuracy (minimum is 0) (Accuracy)
- Region column has all capitals (Consistency)

#### Define: Population density has low accuracy (minimum is 0) (Accuracy)
Solution: Calculate Population density using the formula Total opulation/Area in square km

#### Code

In [191]:
data_copy['Pop_density']=data_copy['Population']/data_copy['Area']

#### Test

In [192]:
data_copy['Pop_density'].describe()

count      227.000000
mean       379.042510
std       1660.187317
min          0.026020
25%         29.157808
50%         78.772786
75%        190.106186
max      16271.500000
Name: Pop_density, dtype: float64

#### Define: Region column has all capitals

#### Code

In [198]:
reg=[]
for i in data_copy['Region']:
    reg.append(i.title().strip())
data_copy['Region']=reg
data_copy=data_copy.astype({'Region':'category'})

#### Test

In [204]:
data_copy['Region'].sample(5)

51      Latin Amer. & Carib
186          Eastern Europe
121          Western Europe
123          Eastern Europe
201    Asia (Ex. Near East)
Name: Region, dtype: category
Categories (11, object): [Asia (Ex. Near East), Baltics, C.W. Of Ind. States, Eastern Europe, ..., Northern America, Oceania, Sub-Saharan Africa, Western Europe]

In [220]:
data_copy.dtypes

Country               category
Region                category
Population               int64
Area                     int64
Pop_density            float64
Coastline              float64
Migration              float64
Inf_mort               float64
GDP ($ per capita)     float64
Literacy               float64
Phones                 float64
Arable                 float64
Crops                  float64
Others                 float64
Climate               category
Birthrate              float64
Deathrate              float64
Agriculture            float64
Industry               float64
Service                float64
dtype: object

# Univariate analysis

In [213]:
def pdfcdf(x,bins):
    counts, edges=np.histogram(x, bins=bins)
    pdf=counts/sum(counts)
    cdf=np.cumsum(pdf)
    plt.plot(edges[1:],pdf, label='Probabilty Density Function')
    plt.plot(edges[1:],cdf, label='Cumilative Density Function')
    plt.title('Probability and Cumulative density graphs')
    plt.legend(loc="right")

In [ ]:
for i in data_copy.columns[1:]:
    if str(data_copy[i].dtype)== 'category':
#         sns.distplot(data_copy[i].dropna())
#         print(i)
        f,ax = plt.subplots(figsize =(20,10))
        sns.countplot(data_copy[i], ax=ax)
        plt.show()
        data_copy[i].value_counts().plot(kind='pie', autopct='%0.2f')
        plt.show()
#         pdfcdf(data_copy[i],len(data_copy[i].unique()))
#         plt.show()
    else:
        sns.distplot(data_copy[i].dropna())
        plt.show()
#         pdfcdf(data_copy[i],data_copy[i].max())
#         plt.show()